In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
data_orig=pd.read_csv("soidukid.csv",on_bad_lines='skip', sep=";")

C:\Users\Liis Reimand\AppData\Local\Temp\ipykernel_5772\1361949397.py:1: DtypeWarning: Columns (8,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data_orig=pd.read_csv("soidukid.csv",on_bad_lines='skip', sep=";")

In [3]:
#kopeerime originaalse andmestiku
data=data_orig.copy()

In [4]:
#kustutame ebavajalikud andmed
data=data[data.YLDINE_STAATUS != "PEATATUD"]
data=data.reset_index()
#data=data.drop(data[data["YLDINE_STAATUS"]=="PEATATUD"].index, inplace=True)
data=data.drop(["Andmed seisuga","index","VARV","ISTEKOHTI", "Kere nimetus", "ARV","Kategooria","Keretüüp","TELGI_KOKKU","TAISMASS", "TYHIMASS","YLDINE_STAATUS","EESTIS_ESMAREG_KP", "MOOTORI_TYYP", "Kütuse tüüp", "HYBRIIDI_TYYP"], axis=1)

In [5]:
#asendame Nan-informatsioonilahtrid käigukastitüübis
#Nan -> manuaal
data["KAIGUKASTI_TYYP"]=data["KAIGUKASTI_TYYP"].fillna("MANUAAL")

In [6]:
#asendame puuduvad NEDC väärtused võimalusel WLTP omadega, vastasel juhul
#eelistame NEDC

for i in range(len(data["CO2_NEDC"])):
    vana=data["CO2_NEDC"].iloc[i]
    uus=data["CO2_WLTP"].iloc[i]
    if str(vana)=="nan" and str(uus)!="nan":
        data.loc[i,'CO2_NEDC']=str(uus)
data=data.drop(["CO2_WLTP"], axis=1)

In [7]:
data["CO2_NEDC"].isna().sum()

145023

In [8]:
data.head()

,ESMANE_REG_KP,KAIGUKASTI_TYYP,MOOTORI_MAHT,Kütusekombinatsioon,CO2_NEDC,Mark,Mudel,REG_MASS,HEITMENORM,VK/OM MAAKOND
0,18.05.2020,AUTOMAAT,1332.0,BENSIIN,131.0,NISSAN,QASHQAI,1885,EURO6,HARJU MAAKOND
1,01.01.1938,MANUAAL,2127.0,BENSIIN,NaN,VAUXHALL,-,1450,NaN,PÄRNU MAAKOND
2,01.01.1960,MANUAAL,2445.0,BENSIIN,NaN,GAZ,21I,1875,NaN,TARTU MAAKOND
3,01.01.1969,MANUAAL,1360.0,BENSIIN,NaN,AZLK,408,1290,NaN,VALGA MAAKOND
4,01.01.1974,MANUAAL,1450.0,BENSIIN,NaN,VAZ,2103,1430,NaN,VÕRU MAAKOND

In [13]:
data.to_csv('soidukid_cleaned.csv',encoding='utf-8-sig',sep=';')